In [61]:
#https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91
import pandas as pd
import numpy as numpy
import sqlalchemy as sqa

In [64]:
# default---connect to mysql datatbase
engine = sqa.create_engine('mysql://root:kasibante@localhost/kwik_crm')
connection = engine.connect()

In [66]:
#connect to mysql table
metadata = sqa.MetaData()
incomming_table = sqa.Table('sms_crm_incomming', metadata, autoload=True, autoload_with=engine)

In [68]:
# Print the column names
print(incomming_table.columns.keys())

['id', 'date_received', 'resolution_code', 'sender_name', 'message', 'sender_number', 'locked_by']

In [70]:
#Equivalent to 'SELECT * FROM census'
query = sqa.select([incomming_table])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:3]

[(1, datetime.date(2020, 11, 8), 'sms100', 'kasibante', 'test11111', '256752604798', 'kasibante'),
 (2, datetime.date(2020, 11, 1), 'sms100', 'kasibante', 'eeeeee', '2567526047983333', 'kasibante'),
 (3, datetime.date(2020, 11, 16), 'eeee6666', '333333', '3333333', '256752604798333', '0')]

In [72]:
#convert to data Frames
df=pd.DataFrame(ResultSet)
#add column names
df.columns = ResultSet[0].keys()
df

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
1,2,2020-11-01,sms100,kasibante,eeeeee,2567526047983333,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0

In [74]:
######Filtering data

In [80]:
#Filter direct from database
#all about filtering
#https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91
'''SQL :
SELECT * FROM census 
WHERE sex = F
'''
#SQLAlchemy :
filter_locked_by=sqa.select([incomming_table]).where(incomming_table.columns.locked_by == 'kasibante')

ResultProxy = connection.execute(filter_locked_by)
ResultSet = ResultProxy.fetchall()
ResultSet

[(1, datetime.date(2020, 11, 8), 'sms100', 'kasibante', 'test11111', '256752604798', 'kasibante'),
 (2, datetime.date(2020, 11, 1), 'sms100', 'kasibante', 'eeeeee', '2567526047983333', 'kasibante')]

In [131]:
#all about filtering
#https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/
#filtering from dtaframe
options = ['test11111', '3333333']     
# selecting rows based on condition  
rslt_df = df.loc[df['message'].isin(options)]
rslt_df

,id,date_received,resolution_code,sender_name,message,sender_number,locked_by
0,1,2020-11-08,sms100,kasibante,test11111,256752604798,kasibante
2,3,2020-11-16,eeee6666,333333,3333333,256752604798333,0