#                                    PYTHON MYSQL

In [ ]:
#PYTHON MYSQL CONNECTION USING SQLAlchemy
#URL
#https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_introduction.htm
#Install Sql Alchemy
#   -pip install sqlalchemy

# CONNECT TO DATABASE

In [ ]:
#-create_engine : this create_engine creates connection to the database
#-connect() : connect() methods executes the connection in the engine class

In [21]:
from sqlalchemy import create_engine
#engine=create_engine('sqlite:///college.db', echo = True
#engine.connect()
engine=create_engine("mysql://Username:Password@localhost/college",echo = True)
engine.connect()

2021-03-07 02:52:22,425 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-03-07 02:52:22,428 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 02:52:22,431 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-03-07 02:52:22,432 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 02:52:22,435 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-03-07 02:52:22,437 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 02:52:22,439 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-03-07 02:52:22,440 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 02:52:22,444 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-03-07 02:52:22,445 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 02:52:22,448 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-03-07 02:52:22,449 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 02:52:22,452 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-03-07 02:52:22,453 INFO sqlalchemy.engine.base.Engine ()

# CREATING TABLES

In [ ]:
# Creatin Tables, we need the following:
# MetaData : this class holds all the table definitions and associated objects such as index, view, triggers, etc.
#some of the generic data types :BigInteger,Boolean,Date,DateTime,Float,Integer,Numeric,SmallInteger,String,Text,Time
#create_all() function uses the engine object to create all the defined table objects and stores the information in metadata.

In [41]:
from sqlalchemy import MetaData,Table,Column,Integer,String
meta = MetaData()

students=Table(
    'students', meta,
    Column('id', Integer,primary_key=True,autoincrement=True),
    Column('first_name', String(50)),
    Column('second_name', String(40)),
)

meta.create_all(engine)

2021-03-07 03:22:09,542 INFO sqlalchemy.engine.base.Engine DESCRIBE `students`
2021-03-07 03:22:09,544 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 03:22:09,610 INFO sqlalchemy.engine.base.Engine ROLLBACK
2021-03-07 03:22:09,613 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(50),
	second_name VARCHAR(40),
	PRIMARY KEY (id)
)


2021-03-07 03:22:09,615 INFO sqlalchemy.engine.base.Engine ()
2021-03-07 03:22:10,017 INFO sqlalchemy.engine.base.Engine COMMIT

# INSERT statement

In [ ]:
#the INSERT statement is created by executing insert() method as follows
#ins = students.insert()
#more on insert 
#-str(ins)
#-ins.compile().params

In [51]:
ins = students.insert().values(first_name = 'Geoffrey',second_name = 'Kasibante')
# view query results before commiting the query using the below command
#ins.compile().params
engine.execute(ins)

2021-03-07 03:43:46,113 INFO sqlalchemy.engine.base.Engine INSERT INTO students (first_name, second_name) VALUES (%s, %s)
2021-03-07 03:43:46,115 INFO sqlalchemy.engine.base.Engine ('Geoffrey', 'Kasibante')
2021-03-07 03:43:46,144 INFO sqlalchemy.engine.base.Engine COMMIT

{'first_name': 'Geoffrey', 'second_name': 'Kasibante'}

# SELECTING FROM DATABASE

In [ ]:
#table_name.select()

In [89]:
select_table=students.select()
#engine.execute(select_table)
#Store query statement into a variable called result
result = engine.execute(select_table)

2021-03-07 04:06:21,627 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.first_name, students.second_name
FROM students
2021-03-07 04:06:21,628 INFO sqlalchemy.engine.base.Engine ()

In [78]:
#viewing the exact data
for row in result:
   print (row)

(1, 'Geoffrey', 'Kasibante')
(2, 'Geoffrey', 'Kasibante')
(3, 'Geoffrey', 'Kasibante')

In [ ]:
# WHERE clause of SELECT query can be applied by using Select.where()

In [157]:
select2=students.select().where(students.columns.id==2)
result1=engine.execute(select2)
for rows in result1:
    print(rows)

2021-03-07 05:01:39,690 INFO sqlalchemy.engine.base.Engine SELECT students.id, students.first_name, students.second_name
FROM students
WHERE students.id = %s
2021-03-07 05:01:39,691 INFO sqlalchemy.engine.base.Engine (2,)
(2, 'Geoffrey', 'Kasibante')

# DELETE

In [158]:
from sqlalchemy import delete
stmt = (
    delete(students).
    where(students.columns.id == 3)
)

engine.execute(stmt)

2021-03-07 05:01:40,723 INFO sqlalchemy.engine.base.Engine DELETE FROM students WHERE students.id = %s
2021-03-07 05:01:40,725 INFO sqlalchemy.engine.base.Engine (3,)
2021-03-07 05:01:40,728 INFO sqlalchemy.engine.base.Engine COMMIT

# UPDATE

In [159]:
from sqlalchemy import update

stmt = (
    update(students).
    where(students.columns.id == 2).
    values(second_name='Kalisa',first_name='Gof')
)
str(stmt)

'UPDATE students SET first_name=:first_name, second_name=:second_name WHERE students.id = :id_1'

#                    Using Textual SQL

In [160]:
from sqlalchemy import text
t = text("SELECT count(*),first_name FROM students group by first_name")
results=engine.execute(t)
for rows in results:
    print(rows)

2021-03-07 05:01:41,577 INFO sqlalchemy.engine.base.Engine SELECT count(*),first_name FROM students group by first_name
2021-03-07 05:01:41,579 INFO sqlalchemy.engine.base.Engine ()
(2, 'Geoffrey')